html, body {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

h1 {
    text-align: center;
}

#main-grid {
    display: grid;
    grid-template: 2rem 300px 300px / 200px 1fr;
    grid-template-areas: 
    "shelf-title ."
    "shelf display"
    "shelf ."
    ;
    gap: 10px;
    padding: 0px 50px;
}

#shelf-title {
    grid-area: shelf-title;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#show-dialog {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 2rem;
    border-style: none;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(59, 173, 59);
    color: white;
}

#show-dialog:hover {
    box-sizing: border-box;
    background-color: white;
    color: rgb(59, 173, 59);;
    border: 1px solid rgb(59, 173, 59);
}

#library {
    grid-area: shelf;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgb(194, 141, 92);
    border: 5px ridge rgb(180, 131, 86);
    overflow: auto;
    overflow-wrap: none;
}

.book-display {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    line-height: 2;
    font-size: 1rem;
    box-shadow: 2px 2px 5px gray;
    overflow-wrap: break-word;
    width: 300px;
    min-height: 300px;
    padding: 20px;
}

#book-buttons {
    display: flex;
    justify-content: space-between;
}

#book-buttons  button {
    border-style: none;
    height: 2rem;
    padding: 10px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    width: 125px;
}

#book-buttons .remove-button {
    background-color: rgb(226, 31, 31);
}

#book-buttons .remove-button:hover {
    border: 1px solid rgb(226, 31, 31);
    background-color: white;
    color: rgb(226, 31, 31);
}

#book-buttons .update-button {
    background-color: gray;
}

.book {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 5px ridge  rgb(180, 131, 86);
    height: auto;
    padding: 5px 5px;
}

.book:hover{
    cursor: pointer;
    border-left: 5px solid white;
    border-bottom: 5px ridge white;
}

.book.focused {
    background-color: rgb(247, 181, 121);
}
.book.unfocused {
    background-color: rgb(194, 141, 92);
}

#display-container {
    grid-area: display;
    display: flex;
    flex-direction: rpw;
    flex-wrap: wrap;
    gap: 10px;
}